#mapbox-pin-map{
    width:80%;
    height:100%;
    background-color: antiquewhite;
    /* position: absolute; top: 0; bottom: 0; width: 100%; */

}
.mapbox-marker {
    height: 20px;
    width: 20px;
    z-index: 5;
    border: 1px solid black;
    border-radius: 50%;
    background-color: #305bad;
}
