html,body{
    height:100%;
    font-size: 18px; 
   } 
#right-column {
    float: left;
    width: 70%;
    background-color: ghostwhite;
    display: block;
    height:inherit;
    }

    #left-column {
    float: left;
    background-color: beige;
    border: 1px;
    width: 30%;
    height:inherit;
    }

